@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00252c;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #0bc9ea;
    box-shadow: 0 0 20px #0bc9ea;
    overflow: hidden; 
}
.container .form-box{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    flex-direction: column;
}
.form-box h2{
    font-size: 32px;
    text-align: center;
}
.form-box .input-box{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    font-weight: 600;
    padding-right: 23px;
    transition: .5s;
}
.input-box input:focus ,
.input-box input:valid {
    border-bottom: 2px solid #0bc9ea;
}
.form-box.login{
    left: 0;
    padding: 0 40px;
}
.form-box.login .animation{
    transform: translateX(0%);
    transition: .7s;
    opacity: 1;
    transition-delay: calc(.1s * var(--S)); 
}
.container.active .form-box.login .animation{
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(.1s * var(--D));
}
.form-box.register{
    right: 0;
    padding: 0 40px;
}
.form-box.register .animation{
    transform: translateX(120%);
    transition: .7s;
    opacity: 0;
    filter: blur(10px);
    /* transition-delay: calc(.1s * var(--S)); */
}
.container.active .form-box.register .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
    transition-delay: calc(.1s * var(--li));
}
.input-box label{
    position: absolute;
    top: 50%;
    font-size: 16px;
    left: 0;
    transform: translateY(-50%);
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #0bc9ea;
}
.input-box i{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
    transition: .5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i{
    color: #0bc9ea;
}
.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #0bc9ea;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.btn::before{
    content: "";
    width: 100%;
    height: 300%;
    position: absolute;
    background: linear-gradient(#00252c,#0bc9ea,#00252c,#0bc9ea);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
}
.btn:hover::before{
    top: 0;
}
.regi-link{
    font-size: 14px;
    padding: 20px 0 10px;
    text-align: center;
}
.regi-link a{
    text-decoration: none;
    font-weight: 600;
    color: #0bc9ea;
}
.regi-link a:hover{
    text-decoration: underline;
}
.info-content{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info-content.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
   
}
.info-content.login .animation{
    transform: translateX(0);
    transition: .7s ease;
     opacity: 1;
    filter: blur(0px);
    transition-delay:calc(.1s * var(--S)) ;
    
}
.container.active .info-content.login .animation{
    transform: translateX(-120%);
    opacity: 0;
    opacity: 0;
    filter: blur(10px);
    transition-delay:calc(.1s * var(--D)) ;
}
.info-content.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 30px;
    pointer-events: none;
}
.info-content.register .animation{
    transform: translateX(-120%);
    transition: .7s ease;
    
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));
    /* transition-delay: .5s; */
}
.container.active .info-content.register .animation{
    transform: translateX(0);
     opacity: 1;
    filter: blur(0px);
    transition-delay:calc(.1s * var(--li));
}
.info-content h2{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}
.info-content p{
    font-size: 16px;
}
.curved-shape{
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg , #00252c, #0bc9ea);
    transform: rotate(10deg) skewY(40deg); 
    transform-origin: bottom right;
    transition: 1.5s ease;
    /* transition-delay: 1.6s; */
}
.container.active .curved-shape{
     transform: rotate(0deg) skewY(0deg); 
     transition-delay: .5s;
}
.curved-shape2{
    position: absolute;
    left: 250px;
    top: 100%;
    height: 700px;
    width: 850px;
    background:  #00252c;
    border-top: 3px solid #0bc9ea;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    /* transition-delay: .5s; */
}
.container.active .curved-shape2{
     transform: rotate(-11deg) skewY(-41deg); 
     transition-delay: 1.2s;
}
